/*Cabeçalho*/

body {
    /*background-color: #271f1f;*/
}

header {
    display: flex;
    background-color: #212224;
    justify-content: space-between;
    margin-top: 30px;
    background-color: aqua;
}

header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 130px;
    /*background-color: aqua;*/
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 20px;
    color: #9d9d9e;
    font-family: Inter;
    font-size: 15px;
}

header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 130px;
    /*background-color: blueviolet;*/    
}